@primary-color          : #6C5DE7;
@primary-color-light    : #B196EE;
@link-color             : #2db7f5;
@link-hover-color       : tint(@link-color, 20%);
@link-active-color      : shade(@link-color, 5%);
@link-hover-decoration  : none;

@bg-color: #ffffff;
@bg-color-light: #ECECEC;
@nav-bg-color: fade(@bg-color, 75%);

@text-color: #444444;
@text-title-color: #3a3a3a;
@text-color-light: #aaaaaa;


